@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.custom{
  
  height:calc(100vh - 60px)
}


.scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color:#007AFF; /* Customize thumb color */
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Customize track color */
}
